.container-fluid {
    padding: 0px;
}

.jumbotron-fluid {
    padding-left: 20px;
}

.display-3 {
    font-size: 50px;
    text-align: left;
}

.container-one{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}
